#First {
    background-color: black;
    color: aliceblue;
    padding: 0%;
    
}

.container a{

    font-size: 30px;
    border: 30;
    color: aliceblue;

}

.container img{
    size: 100px;
}
* {background-color: black}

#Second {
    background-color: black;
    padding: 0%;
    color: aliceblue;

}
#Third {
    background-color: black;
    padding: 0%;
    color: aliceblue;

}
#Fourth {
    background-color: black;
    padding: 0%;
    color: aliceblue;

    }
#Fifth {
    background-color: black;
    padding: 0%;
    color: aliceblue;
}

#Six {
    background-color: black;
    padding: 0%;
    color: aliceblue;
}
    






@media only screen and (max-width: 640px) {


    #First{
        background-image: url('images/nikesoccer.jpg');

    }

    #Second{
        background-image: url('images/controller.jpg');

    }

    #Third{
        background-image: url('images/guitar.jpg');

    }

    #Fourth{
        background-image: url('images/outdoor.jpeg');

    }
    #Fifth{
        background-image: url('images/hobbit.jpg');

    }

}